# The port the API server should listen on
PORT=3000

# A secret for JWTs
JWT_SECRET=123456789

# PostgreSQL database credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=bandvz
DB_PASSWORD=
DB_NAME=bandvz

# Rate limiting. Limits the number of unsuccessful login attempts and the maximum number of calls to other routes per hour.
RATE_LIMITING=10

# SMTP credentials
SMTP_SERVERNAME=sandbox.smtp.mailtrap.io
SMTP_SERVERPORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
