# URL of the frontend without trainling slash ("/")
FRONTEND_URL=http://localhost:5173

# The port the API server should listen on
PORT=3000

# A secret for JWTs
JWT_SECRET=123456789

# PostgreSQL database credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=bandvz
DB_PASSWORD=
DB_NAME=bandvz

# Rate limiting. Limits the number of unsuccessful login attempts and the maximum number of calls to other routes per hour.
RATE_LIMITING=10

# SMTP credentials
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME=

# Turnstile
TURNSTILE_SECRET_KEY=
TURNSTILE_VERIFY_URL=

# Maximum number of bands per user and tracks per band; Keep this synchronized with the setting in the frontend
MAX_NUM_BANDS_PER_USER=10
MAX_NUM_TRACKS_PER_BAND=10